/* The CSS of the entire app */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: sans-serif;
  width: 100%;
}

.App,
#map {
  height: 100%;
}

.list-btn,
.list-input,
.info-window-box {
  box-shadow: 0 0 3px rgb(170, 170, 170);
}

/* The styling of the filter component */
.list-form {
  max-width: 250px;
}
.list-box {
  top: 45px;
  position: fixed;
  left: 0;
  padding: 0 10px;
  z-index: 100;
}

.list-btn {
  padding: 5px 8px;
  border: none;
  background: rgb(255, 255, 255);
  border-radius: 2px 0 0 2px;
  font-weight: 600;
}

.list-btn:hover {
  background: #f7f7f7;
}

.list-input {
  border: none;
  border-radius: 0 2px 2px 0;
  padding: 5px 8px;
}

.locations-list {
  list-style: none;
  padding: 0 10px 10px 10px;
  max-width: 250px;
  background: #fff;
}

.location-item {
  border-bottom: 4px solid #fff;
  padding: 10px 0;
}

.location-item:hover {
  color: #51a3aa;
  cursor: pointer;
  border-color: #1ca1ad;
}

/* The CSS code that styles the infowindow */
.info-window-box {
  bottom: 0;
  position: fixed;
  left: 0;
  width: 250px;
  z-index: 50;
  height: 50%;
  overflow: auto;
  min-height: 250px;
  background: #fff;
  border-radius: 2px 2px 0 0;
  padding: 10px;
}

.info-window-box h2 {
  margin: 0 0 10px 0;
  border-bottom: 2px solid #bbb;
  padding: 0 0 5px 0;
}

/* The styling for the credits*/
.credits {
  color: #aaa;
  margin: 5px 0;
  font-size: 0.8em;
  font-style: bold;
}
